<div class="container">
  <header class="bg-info"></header>
  <nav class="bg-warning">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/product">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/cart">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/change-password"
                >Change Password</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/register">Register</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form> -->
        </div>
      </div>
    </nav>
  </nav>

  <main class="d-flex" style="min-height: 400px">
    <article class="col-md-9 bg-light">
      <router-outlet></router-outlet>
    </article>
    <aside class="col-md-3 bg-secondary">
      <app-type-product></app-type-product>
      <div>
        <a href="" (click)="thoat()">Thoát</a>
      </div>
      <p class="text-white">Tình trạng đăng nhập : {{ daDangNhap() }}</p>
    </aside>
  </main>

  <footer class="bg-dark text-white text-center">Footer</footer>
</div>
